<!-- frontend/templates/received_files.html -->
{% extends "dashboard_base.html" %}

{% block title %}
    Received Files - SecureFile
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Files Shared with You</h1>
        <ul class="list-group">
            {% for file in shared_files %}
            <li class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <strong>{{ file.filename }}</strong> 
                        <br>
                        <small>Shared by: {{ file.sender }}, Received on: {{ file.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</small>
                    </div>
                    <form action="{{ url_for('download_shared_file', file_id=file._id) }}" method="POST" class="form-inline">
                        <div class="form-group mx-sm-3">
                            <label for="encryption_key_{{ file._id }}" class="sr-only">Enter Encryption Key:</label>
                            <input type="password" class="form-control" id="encryption_key_{{ file._id }}" name="encryption_key" placeholder="Encryption Key" required aria-label="Encryption Key">
                        </div>
                        <button type="submit" class="btn btn-success">Download</button>
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('dashboard') }}" class="btn btn-secondary mt-3">Back to Dashboard</a>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-warning mt-3">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block custom_styles %}
<style>
    /* Custom styles for received files page */
    .container {
        margin-top: 50px;
    }
    h1 {
        color: #120329FF;
    }
    .alert {
        font-weight: bold;
    }
</style>
{% endblock %}
